@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Playfair+Display+SC&display=swap');

.product-detail{
display: flex;
flex-flow: column;
justify-content: space-around;
}
.top-container{
  background-color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0%;
}
.name{
  font-weight: 800;
  margin: 20px 50px 0 20px;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
}
.product-detail-image{
  margin: 30px 100px;
  width: 600px;
  max-height: 400px;
  object-fit: contain;
}
.price{
  align-self: flex-end;
  font-weight: 500;
  margin: 0 20px 20px 100px;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  font-weight: 800px;
}
.details{
  background-color: #272727;
  width: 800px;
  margin: 50px auto;
  border-radius: 4px;
}
.description{
 margin: 20px 30px;
 text-align: justify;
 color: white;
 line-height: 1.6;
 /* font-family: 'Playfair Display SC', serif; */
 font-family: 'Darker Grotesque', sans-serif;
 font-size: 20px;
}

.buttons{
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.edit-button{
  background-color: #03CFD1;
  margin-right: 20px;
  width: 70px;
  height: 25px;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: .4s;
  font-weight: 800;
}
.edit-button:hover{
  background-color: #272727;
  color: #03CFD1;
  filter: contrast(200%)
}
.edit-link{
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
.edit-link:hover{
  color: #03CFD1;
}
.delete {
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
.delete:hover{
  color: #03CFD1;
}