.listProducts {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

.search-features {
  margin-top: 50px;
}

.list-title {
  color: white;
  letter-spacing: 25px;
  font-size: 50px;
}

.promo-ad-div {
  width: 1000px;
  height: 300px;
}

.promo-ad-img {
  width: 80%;
  height: 100%;
}

@media only screen and (max-width: 601px) {
  .promo-ad-img {
  }
}

@media only screen and (min-width: 602px) and (max-width: 1130px) {
}
