.listProducts {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

.search-features {
  margin-top: 50px;
}

.list-title {
  color: white;
  letter-spacing: 25px;
  font-size: 50px;
}

.promo-ad-div {
  width: 208%;
  height: 400px;
}

.promo-ad-div img {
  width: 100%;
  height: 100%;
}
