@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

.edit-box {
  display: flex;
  flex-flow: column;
  background-color: #272727;
  box-shadow: -10px 5px 5px #585858;
  width: 70%;
  margin: 30px auto;
  border-radius: 8px;
  font-family: "Audiowide", cursive;
}

.edit-form-name {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.edit-form-name textarea {
  resize: none;
  width: 60%;
}
.edit-name {
  height: 30px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  margin: 20px;
}
.edit-img {
  width: 50%;
  border-radius: 5px;
}
.edit-form-input-image {
  align-self: flex-end;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
}
.edit-input-image {
  width: 40%;
}
.edit-form-price {
  align-self: flex-end;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
}

.edit-form {
  margin: 20px 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.edit-description {
  text-align: justify;
  line-height: 1.6;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  width: 100%;
}
.edit-submit-button {
  width: 200px;
  margin: 10px auto;
  background-color: black;
  color: white;
  font-family: "Audiowide", cursive;
  border-radius: 4px;
}
.edit-label {
  color: white;
  margin: 5px;
}
