.search-form {
  width: 21%;
  margin: 40px auto 10px;
  display: inline;
}

.search-form input {
  width: 25%;
  height: 30px;
  background-color: #272727;
  color: white;
  border: 1px solid #272727;
  border-radius: 5px 0 0 5px;
}

@media only screen and (max-width: 601px) {
  .search-form input {
    width: 30%;
  }
}

@media only screen and (min-width: 602px) and (max-width: 1130px) {
  .search-form input {
    width: 30%;
  }
}
