

.nav-container{
    display: flex;
    justify-content: space-between;
    background-color:#03CFD1;
    height:80px;
}
li{
    display: inline;
}
.nav-button{
    color: white;
    background-color: black;
}

.site-title{
    color: white;

}