@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.logo{
  width: 100px;
  height: 100px;
  margin: auto 40px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#03CFD1;
    height:70px;
    border: 1px groove black;
    border-radius: 2px;
}
li{
    display: inline;
}
.nav-link{
    color: black;
    margin: 10px;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  
}

.site-title{
    color: white;

}

nav ul{
  display: flex;
  flex-flow: row;

}